<!DOCTYPE html>
<html lang="en">
  {% set page = 'admin-settings-page' %}
  {% set isAdminPage = true %}
  {% include "partials/head.njk" %}
  <body class="admin-settings-page">
    <h1 class="title">Roffline Admin</h1>
    {% include 'admin/partials/admin-menu.njk' %}
    <main>
      <form method="post">
        <input type="hidden" name="csrfToken" value="<# csrfToken #>" />

        <fieldset class="downloads">
          <legend>Downloads</legend>
          <p>
            <label for="enable-comment-downloads" class="checkbox-label">
              <input
                id="enable-comment-downloads"
                name="checkbox"
                type="checkbox"
                v-model="downloadComments"
              />
              Enable Downloading Of Comments
            </label>
          </p>
          <p>
            <label for="enable-article-downloads" class="checkbox-label">
              <input
                id="enable-article-downloads"
                name="checkbox"
                type="checkbox"
                v-model="downloadArticles"
              />
              Enable Downloading Of Articles (PDF)
            </label>
          </p>
          <p>
            <label for="enable-image-downloads" class="checkbox-label">
              <input
                id="enable-image-downloads"
                name="checkbox"
                type="checkbox"
                v-model="downloadImages"
              />
              Enable Downloading Of Images
            </label>
          </p>
          <p>
            <label for="enable-video-downloads" class="checkbox-label">
              <input
                id="enable-video-downloads"
                name="checkbox"
                type="checkbox"
                v-model="downloadVideos"
              />
              Enable Video Downloads
            </label>
          </p>
          <p class="video-max-size-container">
            <label for="video-download-max-size">Dont download videos larger than (MB):</label>
            <input
              type="number"
              id="video-download-max-size"
              min="50"
              step="50"
              v-model="videoDownloadMaxFileSize"
              v-bind:disabled="!downloadVideos"
            />
          </p>
          <p class="video-resolution-container">
            <label for="select-video-resolution">Video Download Resolution</label>
            <select
              id="select-video-resolution"
              v-model="videoDownloadResolution"
              v-bind:disabled="!downloadVideos">
              <optgroup label="Video Resolution">
                <option value="240p">240p</option>
                <option value="360p">360p</option>
                <option value="480p">480p</option>
                <option value="720p">720p</option>
                <option value="1080p">1080p</option>
                <option value="1440p">1440p</option>
                <option value="2160p">2160p</option>
              </optgroup>
            </select>
          </p>
          <p>
            <label for="num-downloads-at-once">Max Simultaneous Feeds/Posts/Comments Downloads At Once:</label>
            <input
              type="number"
              id="num-feedposts-downloads-at-once"
              min="1"
              step="1"
              v-model="numberFeedsOrPostsDownloadsAtOnce"
            />
          </p>
          <p>
            <label for="num-downloads-at-once">Max Simultaneous Media Downloads At Once:</label>
            <input
              type="number"
              id="num-downloads-at-once"
              min="1"
              step="1"
              v-model="numberMediaDownloadsAtOnce"
            />
          </p>
        </fieldset>
        <fieldset class="feed-updating">
          <legend>Updating</legend>
          <p class="updates-description">
            Specify the hours through which Roffline should update feeds and download media.
          </p>
          <p>
            <label for="update-all-day" class="checkbox-label">
              <input
                id="update-all-day"
                name="checkbox"
                type="checkbox"
                v-model="updateAllDay"
              />
              Update All Day
            </label>
          </p>
          <p>
            <label for="update-starting-hour">Update Starting Hour:</label>
            <input
              type="number"
              id="update-starting-hour"
              min="0"
              max="23"
              v-model="updateStartingHour"
              v-bind:disabled="updateAllDay"
            />
            <label for="update-ending-hour">Update Ending Hour:</label>
            <input
              type="number"
              id="update-ending-hour"
              min="0"
              max="23"
              v-model="updateEndingHour"
              v-bind:disabled="updateAllDay"
            />
          </p>
        </fieldset>
      </form>
    </main>

    {# Doing it this way so the editor doesnt complain about the nunjucks tags in the script element not being valid JS #}
    <# unescapeHTML('%3Cscript%3E') | safe #> 
      window.adminSettings = <# adminSettings | dump | safe #>
      window.csrfToken = <# csrfToken | dump | safe #> 
    <# unescapeHTML('%3C/script%3E') | safe #>
    <script src="/js/admin/admin-settings-page.js<# cacheBustString #>" type="module"></script>
  </body>
</html>
