roffline-logs
testing-roffline-logs
.scannerwork
posts-media
testing-posts-media
!tests/seed-data/posts-media
hint-report
lighthouse-reports
lighthouse-report.html
user-subs-export.txt
.vscode
tsconfig.tsbuildinfo
tsconfig-frontend.tsbuildinfo
roffline-comments-lmdb.db
roffline-comments-lmdb.db-lock
testing-roffline-comments-lmdb.db
testing-roffline-comments-lmdb.db-lock
roffline-sqlite.db
roffline-sqlite.db.db-journal
testing-roffline-sqlite.db
testing-roffline-sqlite.db.db-journal
esbuild-meta.json
esbuild-stats.html
# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# NPM dependencies
node_modules

.dockerignore