server/**/*.js
server/**/*.js.map
frontend/js/**/*.js
frontend/js/**/*.js.map
db/**/*.js
db/**/*.js.map
logging/**/*.js
logging/**/*.js.map
!downloads
downloads/**/*.js
downloads/**/*.js.map
boot.js
boot.js.map
frontend-build/**/*
roffline-logs
roffline-storage.db
test-roffline-storage.db
.scannerwork
.env
temp-delete-me.js
temp-delete-me2.js
temp-delete-me.json
posts-media
!tests/seed-data/posts-media
test-posts-media
hint-report
lighthouse-reports
lighthouse-report.html
user-subs-export.txt
!.vscode
frontend-build
*.report.html
*report[0-9].html
roffline-storage.db-journal
tsconfig.tsbuildinfo
roffline-storage-old-typeorm-version.db
tsconfig-frontend.tsbuildinfo
roffline-comments-lmdb.db-lock
roffline-comments-lmdb.db
roffline-sqlite.db
frontend/js/admin/admin-db-viewer-page/admin-db-viewer-page.css
frontend/js/admin/admin-db-viewer-page/admin-db-viewer-page.css.map