server/**/*.js
server/**/*.js.map
frontend/js/**/*.js
frontend/js/**/*.js.map
db/**/*.js
db/**/*.js.map
logging/**/*.js
logging/**/*.js.map
!downloads
downloads/**/*.js
downloads/**/*.js.map
boot.js
boot.js.map
frontend-build/**/*
roffline-logs
.scannerwork
.env
posts-media
!tests/seed-data/posts-media
test-posts-media
hint-report
lighthouse-reports
lighthouse-report.html
user-subs-export.txt
!.vscode
frontend-build
*.report.html
*report[0-9].html
roffline-sqlite.db.db-journal
tsconfig.tsbuildinfo
tsconfig-frontend.tsbuildinfo
roffline-comments-lmdb.db-lock
roffline-comments-lmdb.db
roffline-sqlite.db
esbuild-meta.json
esbuild-stats.html