{
  "all": true,
  "check-coverage": true,
  "clean": true,
  "branches": 97,
  "lines": 97,
  "functions": 97,
  "statements": 97,
  "include": [
    "db/**/*.js",
    "downloads/**/*.js",
    "frontend-build/js/**/*.js",
    "logging/**/*.js",
    "server/**/*.js",
    "boot.js"
  ],
  "exclude": [
    "db/db-dev.js",
    "logging/file-logging-transport.cjs",
    "tests",
    "node_modules"
  ],
  "reporter": [
    "text",
    "text-summary",
    "html"
  ]
}
