{
  "all": true,
  "check-coverage": true,
  "clean": true,
  "include": [
    "**/*.ts",
    "logging/file-logging-transport.cjs"
  ],
  "exclude": [
    "db/db-dev.ts",
    "**/*.d.ts"
  ],
  "reporter": [
    "text",
    "text-summary"
  ]
}
