body.dark-theme.search-page main > form .input-container > input {
  background-color: var(--color-darkGrey);
  color: var(--font-color);
}

body.dark-theme.search-page .search-input-container button {
  background-color: #22ac6a !important;
}
