.search-page main {
  margin-top: 10rem;
  max-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8rem;
}

.search-page main > article {
  max-width: 65vw;
  border: 1px solid var(--color-lightGrey);
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1.6vw;
  padding-bottom: 1.6vw;
  margin-bottom: 2.6vw;
}

@media only screen and (max-width: 297px) {
  .search-page main {
    margin-top: 14rem;
  }
}

.search-page main > h4 {
  margin-bottom: 3rem;
  overflow-wrap: break-word;
}

.search-page main > article > * {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.search-page main > article > h2 > a {
  color: var(--text-dark);
}

.search-page main > form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 500px) {
  .search-page main > form {
    margin-bottom: 3rem;
  }
}

.search-page main > form label {
  width: 100%;
  text-align: center;
  margin-bottom: 2.4rem;
}

.search-page main > form .search-input-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-page main > form .search-input-container > * {
  font-size: calc(0.94em + 0.2vw);
}

.search-page main > form .search-input-container > input {
  margin-right: 1rem;
}

@media only screen and (max-width: 711px) {
  .search-page main > form .search-input-container {
    flex-wrap: wrap;
  }

  .search-page main > form .search-input-container > input {
    margin-bottom: 1rem;
    margin-right: initial;
  }
}

.search-page main > form .fuzzy-search-checkbox-container {
  display: flex;
  margin-top: 2rem;
  font-size: 1rem;
  align-items: center;
}

.search-page main > form .fuzzy-search-checkbox-container > input {
  margin-right: 0.3rem;
  height: 1.2rem;
}

.search-page main > form .fuzzy-search-checkbox-container > label {
  margin: 0;
}

.search-page main > .search-results-meta-description {
  font-family: monospace;
}

.search-page main > article .post-meta-container {
  width: 100%;
}

.search-page main > article .post-meta-container ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

@media only screen and (max-width: 400px) {
  .search-page main > article .post-meta-container ul {
    flex-wrap: wrap;
  }

  .search-page main > article .post-meta-container ul li {
    width: 100%;
    margin-top: 5px;
  }
}

.search-page main > article .post-meta-container li * {
  opacity: 0.8;
}

.search-page main > article .post-meta-container li a:hover {
  opacity: 1;
}

.search-page main > article .post-meta-container ul li {
  margin-right: 8px;
}
