<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body class="index-page {% if userSettings.darkModeTheme %}dark-theme{% endif %}">
    {% set userSettings = userSettings %}
    {% set basePath = basePath %}
    {% set isSubPage = isSubPage %}
    {% set pageNumber = pageNumber %}
    {% set topFilter = topFilter %}
    {% set currentSubredditBrowsing = currentSubredditBrowsing %}
    {% set topFilter = topFilter %}
    {% set searchTerm = searchTerm %}
    {% set fuzzySearch = fuzzySearch %}
    {% include 'partials/page-header.njk' %}
    <main>
      {% if userSettings.subreddits.length < 1 %}
        <div class="welcome">
          <div class="roffline-logotitle">{% include 'partials/roffline-logo.njk' %}</div>
          <h1>Welcome To Roffline (Reddit, Offline)</h1>
          <p>To get started, add a subreddit on the <a href="/sub-management">sub-management</a> page.</p>
          <p>Alternatively, you can bulk import subreddits from the <a href="/settings">settings</a> page.</p>
        </div>
      {% else %} 
        {% if isSubPage %}
          <h4 class="filter-header text-grey">Sub: <# currentSubredditBrowsing | capitalize #></h4>
        {% endif %} 
        {% if topFilter %}
          <h4 class="filter-header text-grey">Top: <# topFilter | capitalize #></h4>
        {% endif %}
          <div id="posts">
            {% if posts.length > 1 %}
              <template v-for="(post, index) in posts" :key="post.id" >
                <post-item
                  v-bind:post="post"
                  v-bind:posts="posts"
                  v-bind:index="index"
                  v-bind:user-settings="userSettings"
                  v-bind:total-results="totalResults"
                ></post-item>
              </template>
            {% else %}
              <p class="no-posts-found-message">This subreddit either has no posts, or is in the download queue.</p>
            {% endif %}
          </div>
        {% if userSettings.infiniteScroll === false and pagination > 1 %}
          {% include 'partials/pagination.njk' %} 
        {% endif %}
      {% endif %}
    </main>

    {# Doing it this way so the editor doesnt complain about the nunjucks tags in the script element not being valid JS #}
    <# unescapeHTML('%3Cscript%3E') | safe #> 
      window.userSettings = <# userSettings | dump | safe #>
      window.posts = <# posts | dump | safe #> 
      window.totalResults = <# totalResults | dump | safe #> 
    <# unescapeHTML('%3C/script%3E') | safe #>
    <script src="/js/index/index-page.js<# cacheBustString #>" type="module"></script>
  </body>
</html>
