<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body v-bind:class="index-page {% if settings.darkModeTheme %}dark-theme{% endif %}">
    {% include 'partials/page-header.njk' %}
    <main>
      {% if userSettings.subreddits.length < 1 %}
      <div class="welcome">
        <div class="roffline-logotitle">{% include 'partials/roffline-logo.njk' %}</div>
        <h1>Welcome To Roffline (Reddit, Offline)</h1>
        <p>To get started, add a subreddit on the <a href="/sub-management">sub-management</a> page.</p>
        <p>Alternatively, you can bulk import subreddits from the <a href="/settings">settings</a> page.</p>
      </div>
      {% else %} {% if isSubPage %}
      <h4 class="filter-header text-grey">Sub: {{ currentSubredditBrowsing | capitalize }}</h4>
      {% endif %} {% if topFilter %}
      <h4 class="filter-header text-grey">Top: {{ topFilter | capitalize }}</h4>
      {% endif %}
      <div id="posts">
        {% if posts.length > 1 %}
        <template x-for="(post, index) in posts">
          <div class="post-container">
            <article
              x-init="initMediaHandlers(post)"
              x-show="shouldShowPost(post)"
              x-intersect.once="loadMorePosts(index)"
            >
              <h2>
                <a x-bind:href="`/post/${ post.id }`" x-text="post.title"></a>
              </h2>
              <div class="post-content" x-show="!settings.onlyShowTitlesInFeed" x-html="post.postContent"></div>
              <small class="post-meta-container">
                <ul>
                  <li>
                    <data value="post.score" x-text="pluralisePostScore(post.score)"></data>
                  </li>
                  <li>
                    <span>from <a x-bind:href="`/sub/${ post.subreddit }`" x-text="post.subreddit"></a></span>
                  </li>
                  <li>
                    <span>submitted</span>
                    <time x-bind:datetime="post.prettyDateCreated" x-text="post.prettyDateCreatedAgo"></time>
                    <span>by</span>
                    <!-- encodeURI is in case its https://www.reddit.com/u/[deleted] -->
                    <a
                      x-bind:href="`https://www.reddit.com/u/${ encodeURI(post.author) }`"
                      x-text="post.author"
                    ></a>
                  </li>
                  <li>
                    <a
                      x-bind:href="`https://www.reddit.com${ post.permalink }`"
                      aria-label="Go to the original reddit url of this post"
                      >original url</a
                    >
                  </li>
                </ul>
              </small>
            </article>
            {% if settings.infiniteScroll %}
            <div class="page-seperator" x-show="shouldShowPageSeperator(index)">
              <hr />
              <h4 x-text="`Page ${((index + 1) / 30) + 1}`" class="page-seperator"></h4>
              <hr />
            </div>
            {% endif %}
          </div>
        </template>
        {% else %}
        <p class="no-posts-found-message">This subreddit either has no posts, or is in the download queue.</p>
        {% endif %}
      </div>
      {% include 'partials/pagination.njk' %} {% endif %}
    </main>

    <script>
      window.userSettings = {{settings | json}}
      window.posts = {{posts | json}}
    </script>
    <script src="{{ '/static/vendor/js/embla-carousel@4.5.3.min.umd.js' | cachebust }}"></script>
    <script src="{{ '/js/index-page.js' | cachebust }}" type="module"></script>
    <script defer src="{{ '/static/vendor/js/@alpinejs-intersect@3.2.2.min.js' | cachebust }}"></script>
    <script defer src="{{ '/static/vendor/js/alpinejs@3.2.3.min.js' | cachebust }}"></script>
  </body>
</html>
