<nav class="nav admin-menu">
  <div class="nav-left">
    <div class="tabs">
      <a class="{% if page == 'admin-stats-page' %}active{% else %} {% endif %}" href="/admin/">Stats</a>
      <a class="{% if page == 'admin-settings-page' %}active{% else %} {% endif %}" href="/admin/settings">Settings</a>
      <a class="{% if page == 'admin-users-page' %}active{% else %} {% endif %}" href="/admin/users">Users</a>
      <a class="{% if page == 'admin-logs-viewer-page' %}active{% else %} {% endif %}" href="/admin/logs-viewer">Logs</a>
      <a class="{% if page == 'admin-database-viewer-page' %}active{% else %} {% endif %}" href="/admin/db-viewer">Database</a>
      <a class="{% if page == 'admin-downloads-page' %}active{% else %} {% endif %}" href="/admin/downloads">Downloads</a>
      <a href="/">Exit Admin</a>
    </div>
  </div>
</nav>
