body.admin-downloads-viewer {
  flex-direction: column;
  max-width: 90vw;
}

.admin-downloads-viewer main {
  margin-top: 3rem;
  max-width: 90vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
}

#pause-button {
  font-size: 0.8rem;
  align-self: flex-end;
  margin-bottom: 2rem;
  padding: 1rem;
}

#downloadListsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#active-downloads-container {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 70vw;
  margin-bottom: 6rem;
}

#downloads-history-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 70vw;
  margin-bottom: 6rem;
}

#download-queue-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 70vw;
}

h1 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1.4rem;
}

.vue-recycle-scroller {
  border: 1px solid var(--color-primary);
}

.scroller {
  height: 100%;
}

.table-columns {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.table-columns > * {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}

.table-columns span {
  display: flex;
}

.table-columns > .table-column-postId {
  width: 8rem;
}

.table-columns > .table-column-url {
  width: 19rem;
  margin-right: 2rem;
}

.table-columns > .table-column-progress {
  width: 10rem;
}

.table-columns > .table-column-size {
  width: 16rem;
}

.download-item {
  width: 100%;
  display: flex;
  align-items: stretch;
  font-size: 0.9rem;
}

.download-item:hover {
  background-color: #e3e6ea;
}

.download-item > * > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.download-item .postId {
  text-decoration: underline;
  width: 8rem;
}

.download-item .url {
  text-decoration: underline;
  width: 19rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 2rem;
}

.download-item .downloadProgress {
  width: 10rem;
}

.download-item .size {
  width: 16rem;
}

.download-item .download-history-status {
  cursor: pointer;
  padding: 0;
}

.download-item .download-history-status span {
  font-size: 1rem;
}

.download-item .downloadTries {
  margin-left: 4rem;
}

.admin-downloads-viewer .json-object-view-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 10px var(--color-darkGrey);
  outline: 1px solid var(--color-darkGrey);
  width: 90vw;
  max-height: 60vh;
  overflow: scroll;
}

.admin-downloads-viewer .json-object-view-wrapper .close-button {
  font-size: 3rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  align-self: flex-end;
  position: sticky;
  top: 0;
}

.admin-downloads-viewer .json-object-view-wrapper .close-button:hover {
  cursor: pointer;
  color: var(--color-grey);
}

.admin-downloads-viewer .jv-container {
  max-height: 50vh;
}

.admin-downloads-viewer .jv-container * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
