body.admin-database-viewer-page {
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
}

.admin-database-viewer-page main {
  margin-top: 3rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  align-items: center;
}

.admin-database-viewer-page main label[for='table-select'] {
  margin-bottom: 1rem;
}

.admin-database-viewer-page main .vacuum-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-database-viewer-page main .vacuum-container button {
  margin-bottom: 2rem;
}

.admin-database-viewer-page main .vacuum-container .vacumm-success-message {
  color: #14854f;
}

.admin-database-viewer-page main .vacuum-container .vacumm-failure-message {
  color: var(--color-error);
}

.admin-database-viewer-page main .vacuum-container + hr {
  margin-bottom: 3rem;
  width: 100%;
  max-width: 30vw;
}

.admin-database-viewer-page main #table-select {
  text-align-last: center;
  margin-bottom: 1rem;
  max-width: 80vw;
}

.admin-database-viewer-page main .console-note-aside {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.admin-database-viewer-page .vgt-wrap {
  max-width: 90vw;
}

.admin-database-viewer-page .vgt-wrap td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.admin-database-viewer-page .vgt-wrap th {
  position: sticky;
  top: 0;
}

.admin-database-viewer-page main #vgt-table > tbody td[data-label='Row Ops'] {
  text-align: center;
}

.admin-database-viewer-page main .vgt-wrap__footer {
  padding: 0.7rem;
}

.admin-database-viewer-page main .vgt-wrap__footer * {
  font-size: 0.8rem;
}

.admin-database-viewer-page .json-object-view-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 10px var(--color-darkGrey);
  outline: 1px solid var(--color-darkGrey);
  width: 90vw;
  max-height: 60vh;
  overflow: scroll;
}

.admin-database-viewer-page .json-object-view-wrapper .close-button {
  font-size: 3rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  align-self: flex-end;
  position: sticky;
  top: 0;
}

.admin-database-viewer-page .json-object-view-wrapper .close-button:hover {
  cursor: pointer;
  color: var(--color-grey);
}

.admin-database-viewer-page .jv-container {
  max-height: 50vh;
}

.admin-database-viewer-page .jv-container * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
