body.admin-logs-viewer-page {
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
}

.admin-logs-viewer-page main {
  margin-top: 3rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  align-items: center;
}

.admin-logs-viewer-page main .console-note-aside {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.admin-logs-viewer-page .vgt-wrap {
  max-width: 90vw;
}

.admin-logs-viewer-page .vgt-wrap td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.admin-logs-viewer-page .vgt-wrap th {
  position: sticky;
  top: 0;
}

.admin-logs-viewer-page main #vgt-table > tbody td[data-label='Row Ops'] {
  text-align: center;
}

.admin-logs-viewer-page main .vgt-wrap__footer {
  padding: 0.7rem;
}

.admin-logs-viewer-page main .vgt-wrap__footer * {
  font-size: 0.8rem;
}

.admin-logs-viewer-page .json-object-view-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 10px var(--color-darkGrey);
  outline: 1px solid var(--color-darkGrey);
  width: 90vw;
  max-height: 60vh;
  overflow: scroll;
}

.admin-logs-viewer-page .json-object-view-wrapper .close-button {
  font-size: 3rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  align-self: flex-end;
  position: sticky;
  top: 0;
}

.admin-logs-viewer-page .json-object-view-wrapper .close-button:hover {
  cursor: pointer;
  color: var(--color-grey);
}

.admin-logs-viewer-page .jv-container {
  max-height: 50vh;
}

.admin-logs-viewer-page .jv-container * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
