body.logs-viewer-page {
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
}

.logs-viewer-page main {
  margin-top: 3rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  align-items: center;
}

.logs-viewer-page main .download-link {
  font-size: 1rem;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.logs-viewer-page main .gridjs-head {
  font-size: 0.8rem;
}

.logs-viewer-page main .gridjs-container {
  max-width: 80vw;
}

.logs-viewer-page main .gridjs-wrapper {
  max-height: 70vh;
}

.logs-viewer-page main table.gridjs-table {
  max-height: 70vh;
  table-layout: initial;
  font-size: 0.8rem;
  max-width: 80vw;
}

.logs-viewer-page main table.gridjs-table td.gridjs-td {
  padding: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logs-viewer-page main table.gridjs-table th[data-column-id='service'] {
  min-width: 76px;
}

.logs-viewer-page main table.gridjs-table th[data-column-id='level'] {
  min-width: 76px;
}

.logs-viewer-page main table.gridjs-table td[data-column-id='clipboard'] {
  text-align: center;
}

.logs-viewer-page main table.gridjs-table td[data-column-id='message'] {
  max-width: 250px;
}

.logs-viewer-page main table.gridjs-table td[data-column-id='data'] {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logs-viewer-page main table.gridjs-table .object-view-open-button {
  font-size: 0.8rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 0.9rem;
  transform: initial;
  color: var(--color-grey);
}

.logs-viewer-page main table.gridjs-table .object-view-open-button:hover {
  color: var(--color-darkGrey);
  opacity: 1;
}

.logs-viewer-page main table.gridjs-table .copy-to-clipboard-button {
  font-size: 1.2rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 0.9rem;
  transform: initial;
  background: none;
  border: none;
  color: var(--color-grey);
}

.logs-viewer-page main table.gridjs-table .copy-to-clipboard-button:hover {
  cursor: pointer;
  color: var(--color-darkGrey);
}

.logs-viewer-page main .gridjs-footer > * {
  font-size: 0.8rem;
}

.logs-viewer-page main .gridjs-footer .gridjs-pages button {
  font-size: 0.8rem;
}

.logs-viewer-page .json-object-view-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 10px var(--color-darkGrey);
  width: 96vw;
  max-height: 70vh;
  overflow: scroll;
}

.logs-viewer-page .json-object-view-wrapper .close-button {
  font-size: 3rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  align-self: flex-end;
  position: sticky;
  top: 0;
}

.logs-viewer-page .json-object-view-wrapper .close-button:hover {
  cursor: pointer;
  color: var(--color-grey);
}

.logs-viewer-page .json-object-view {
  max-height: 50vh;
}

.logs-viewer-page .json-object-view > .key-value:last-of-type {
  padding-bottom: 2rem;
}

.logs-viewer-page .json-object-view * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.logs-viewer-page .json-object-view .key::before {
  margin-right: 0.3rem;
}

.logs-viewer-page .clipboardInput {
  position: absolute;
  top: -99999999999999px;
}
